@import url('https://roomupcss.netlify.app/Dashboard.css');

.download-img img {
    width: 22%;
}

.visbg {
    background-size: 95% !important;
}

.visbg2 {
    background-size: 95% !important;
}

.landing_content div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.landing_content p {
    line-height: 35px;
}

.landing_content p span {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.288);
    color: #fff;
    font-weight: 500;
}

.landing_footer_btn a {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #A9ACAA;
    background: transparent;
    transition: .4s all;
    text-decoration: none;
    text-align: center;
    color: #A9ACAA;
}

.btn_brand:hover {
    background: #2A91D6 !important;
    color: #fff !important;
    border-color: #2A91D6 !important;
}

.btn_brand:hover svg path {
    fill: #fff !important;
}

.btn_customer:hover {
    background: #2A91D6 !important;
    color: #fff !important;
    border-color: #2A91D6 !important;
}

.btn_customer:hover svg path {
    fill: #fff !important;
}

.cursor {
    cursor: pointer;
}

.btn_retail {
    border: 1px solid #2A91D6 !important;
    background: #2A91D6 !important;
    color: #fff !important;
}

.btn_retail:hover {
    background: transparent !important;
    color: #2A91D6 !important;
}

.btn_retail:hover svg path {
    fill: #2A91D6 !important;
}

.rt_register {
    border-radius: 7px;
    border: 1px solid #F6F6F6;
    background: #F6F6F6;
    padding: 10px;
    width: 100%;
    color: #2F2F2F;
    font-weight: 700;
}

.rt_full {
    border-radius: 7px;
    border: 1px solid #27AE60;
    background: #27AE60;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}

#dropdown-basic-button::after {
    display: none;
}

@media(max-width:1527.27px) {
    .mobile-img {
        height: 140px !important;
    }
}

@media(max-width:1400px) {
    .mobile-img {
        height: 123px !important;
    }
}

@media(max-width:600px) {
    .btn_customer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn_brand {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn_retail {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .download-img img {
        width: 29%;
    }

    .landing_footer_btn button {
        font-size: 13px;
    }

    .landing_footer_btn button svg {
        width: 16px;
    }

    .landing_content p span {
        width: max-content;
        display: block;
        margin-top: 10px !important;
        margin: auto;
        font-size: small;
        line-height: 25px;
    }

    .landing_header p {
        font-size: small;
        margin-top: 5px;
    }

    .landing_content img {
        height: 350px;
        object-fit: none;
        object-position: left;
    }

}